

div.hero-unit.awesome.flat {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
	
}


.glass-pill input {
  width: 80%;
}

.newsinput {
  width: 80%;
  height: 300px;
  background-color: white;
}

.nicEdit-main {
  background-color: white;
}

.testdiv {
	background: #bbb;
}

.news {
  background-color: rgba(82, 157, 255, 0.3);
  border-radius: 1px;
  padding-top: 1px;
  padding-left: 3px;
  margin-bottom: 22px;
}

.news h1 {
  font-weight: bolder;
  color: #228;
  padding-left: 5px;
}
article p{
  color: #4545A5;
  margin-left: 6px;
  padding-left: 4px;
  padding-top: 5px;
  border-left: 1px dashed #99B;
}

 .nav {
    margin-left:auto;
    margin-right:auto;
    width: 40%;
}
      
.nav {
    margin-left: 35% !important;
    width: 30%;    
}

.nav li {
 width:25%;   
}

.pinnedcontent {
 height: auto;   
}

.pinnedcontent div {
}

.middlebutton {
    margin-left:40%;
    width:20%;    
}

.hero-unit h1 {
	
text-shadow: 1px 1px 0px rgb(73, 124, 255);
}

.hero-unit p{
	color:#338;
	text-shadow: 1px 1px 0px rgb(60, 100, 255);
}

body {
    background-color: #FFF;
    padding-top:60px;
}

.shadowblock{
    width: 800px;
height: 3px;
margin: 0px;
padding: 0px;
}


.nav-tabs > .active a{

    background-color:#DDDDFF;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 1280px;
}
.span12 {
  width: 1200px;
}
.span11 {
  width: 1100px;
}
.span10 {
  width: 1000pc;
}
.span9 {
  width: 900px;
}
.span8 {
  width: 800px;
  padding-right: 2px;
  padding-left: 2px;
}
.span7 {
  width: 700px;
}
.span6 {
  width: 600px;
}
.span5 {
  width: 500px;
}
.span4 {
  width: 400px;
}
.span3 {
  width: 300px;
}
.span2 {
  width: 200px;
}
.span1 {
  width: 100px;
}
.offset12 {
  margin-left: 1240px;
}
.offset11 {
  margin-left: 1140px;
}
.offset10 {
  margin-left: 1040px;
}
.offset9 {
  margin-left: 940px;
}
.offset8 {
  margin-left: 840px;
}
.offset7 {
  margin-left: 740px;
}
.offset6 {
  margin-left: 640px;
}
.offset5 {
  margin-left: 540px;
}
.offset4 {
  margin-left: 440px;
}
.offset3 {
  margin-left: 340px;
}
.offset2 {
  margin-left: 240px;
}
.offset1 {
  margin-left: 140px;
}
