
body>.container {
margin-top: 20px;	
}

div.hero-unit.awesome.flat {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
	
}
}


article footer a {
  color: teal;

}
.tournamentlogo {
  height: 200px;
}


.ui-autocomplete{
list-style: none !important;
}
 
#flashMessage {
  width: 400px;
  text-align: center;
  vertical-align: center;
  margin-left: 300px;
  font-size: 15px;
  font-weight: bold;
  background-color: #8787BB;
  border-radius: 2px;
}

footer {
  margin-bottom: 14px;
}

.actions ul{
  list-style: none;
  margin-left: 0px;
}

.fpadd{
  height: 20px;
  width: 500px;
  margin: auto;
  text-align: center;
  vertical-align: text-bottom;
  font-size: 10px;
  margin-bottom: 7px;
}

.fpadd img {
  margin-left: 3px;
  margin-right: 3px;
}

.navbar-fixed-top .container {
	width: auto;
}

.headerawesome{
	padding: 0px;
	margin: 0px;
	height: 200px;
	z-index: 5;
	overflow: hidden;
	background-color: #113585;
	box-shadow: 2px 0px 49px inset;
}

.row.headerawesome .container {
	width: 960px;
}

.hero-unit h1,p{
	z-index: 5;
	color: #CFCFCF;
}
p{
	color: #173675;
}

.bannertitle h4 {
	font-weight: normal;
	color: #FEFEFE;
	line-height: 20px;
	font-size: 20px;
	text-align: center;
}

.bannertitle {
	margin-top: 40px;
}

.bannerdiv {
	float: left;
	z-index: 1;
}
.bannerimg {
	float: left;
	display: block;
	z-index: 2;
	min-height: 160px;
	max-height: 200px;
	min-width: 180px;
}

.kickimg {
	max-height: 62px;
	width: 100px;
	float: left;
}

.kickdesc h5{
	color: white;
	line-height: 20px;
	font-size: 16px;
	font-weight: normal;
	vertical-align: middle;
	text-align: center;
}

.kickprogress h2 {
	color: white;
	text-align: center;
	font-size: 28px;
	float: left;
}
.kickbar {
	height: 62px;
}

.progress {
	margin-bottom: 0px;
}

.kickprogress h3 {
	width: 180px;
	line-height: 30px;
	font-size: 30px;
	color: #FCFCF0;
	text-align: center;
	float: left;
	margin: 0px;
/*text-shadow: 1px 1px 0px #CFCFCF,
2px 2px 0px #CDCDCD;*/
}

.esportsmoney .progress {
	width: 180px;
	float: left;
}

#lol .esportsmoney .progress .bar {
	background-color: #caaa27;
}
#csgo .esportsmoney .progress .bar {
	background-color: #9fa2a7;
}
#hots .esportsmoney .progress .bar {
	background-color: #8228cc;
}

.kickprogress .esportsmoney {
	width: 180px;
	height: 55px;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 0px;	
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	float: left;
/*background-color: #1f4391;
background-image: -moz-linear-gradient(top, #214799, #1c3d84);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#214799), to(#1c3d84));
background-image: -webkit-linear-gradient(top, #214799, #1c3d84);
background-image: -o-linear-gradient(top, #214799, #1c3d84);
background-image: linear-gradient(to bottom, #214799, #1c3d84);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff214799', endColorstr='#ff1c3d84', GradientType=0);
border-color: #1c3d84 #1c3d84 #0f2045;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/
}

.glass-pill input {
	width: 80%;
}

.angemeldetlist{
	list-style: none;
}

.teilnehmerlink {
	margin: 0 auto;
	text-align: center;
	margin-bottom: 5px;
	color: white;
}
.teilnehmerlink a {
	color: white;
}
.newsinput {
	width: 80%;
	height: 300px;
	background-color: white;
}

.nicEdit-main {
	background-color: white;
}

.testdiv {
	background: #bbb;
}

.news {
	border-bottom: 3px solid;
	border-radius: 0px;
	color: #113585;
	padding: 10px;
}

.news ul {
	float: left;
	clear: both;
}

.news p {

}

.fullnews {
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

.news h1 {
  font-weight: bolder;
  color: #228;
  padding-left: 5px;
  margin: 0px auto;
}
.fullnews h1{
    float: left;
    clear: both;
}
.fullnews p {
  clear: both;
    float: left;
    margin-top: 12px;
    margin-left: 8px;

}

.news p{
  margin-left: 6px;
  padding-left: 6px;
  padding-top: 5px;
  color: inherit;
}

article footer {
  margin-left: 6px;
}
.fullnews .author {
  clear: both; 
  margin-top: -5px;
}

.sidesponsors {
  margin-top: 15px;
}

.sidesponsors img {
width: 170px;
text-align: center;
margin-bottom: 20px;
}

.sidesponsors h4 {
text-align: center;
-webkit-box-shadow: 0px 1px 4px #113585;
-moz-box-shadow:    0px 1px 4px #113585;
box-shadow:         0px 1px 4px #113585;
background-color: #113585;
border-radius: 3px 3px 0px 0px;
color: #cecece;
}

.sidesponsors h5 {
text-align: center;
margin-right: 20px;
}


.author {
    float: left;
  width: 650px;
  margin-left: 8px;
}

.comment {
  background-color: #C4C4FF;
  float: left;
  width: 600px;
  margin-left: 50px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 12px;
}
.comment h5 {
  font-size: 11pt;
  margin-bottom: 0px;
  border-bottom: 1px dashed #33F;
  width: 120px;
}
.bar-angemeldet {
  background-color: #149BDF !important;
  background-image: none !important;
}
.bar-bezahlt {
  background-color: #0C7CCC !important;
  background-image: none !important;
}
.bar-frei {
  background-color: #5CBBFF !important;
  background-image: none !important;
}


.commentaddlink {
  float: left;
clear: both;
vertical-align: middle;
text-align: center;
margin-left: 50px;
margin-top: 5px;
}

.newscontent {
  float: left;
margin-top: 20px;
}

.faaaak {
  float: none !important;
}

.sidelogin{
  font-size: 16px;
}
.sidelogin a{
  font-weight: bold;
}

.pinnedcontent {
 height: auto;   
}

.commentfield {
    width: 400px;
}
.turnierliste {
  list-style: none;
}


.hero-unit h1 {
	
text-shadow: 1px 1px 0px #5555AA;
}

.hero-unit p{
	color:#CFCFCF;
	text-shadow: 1px 1px 0px #000033;
}

body {
    background-color: #edeeef;
    background-image: url('../img/pw_maze_white.png');
    font-family: 'Open Sans', sans-serif;
}

.shadowblock{
	width: 800px;
	height: 3px;
	margin: 0px;
	padding: 0px;
}
.navbar {
position: relative;
}

.nav{
   margin: auto;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}
.navbar .progress{
	line-height: 18px;
	height: 18px;
}
.navbar-inner {
  text-align:center;
}

.navbar-fixed-top {
    position:fixed;
    z-index: 50;
}

.navbar-fixed-top-active {
padding-top: 61px;
}

.sidelogin input {
  width: 128px;
  margin-bottom: 5px;
}

.sidelogin .submit input {
  width: 142px;
}
.sidelogin #UserLoginForm {
  margin-bottom: 0px;
}
.sidelogin a {
  font-weight: normal;
  font-size: 14px;
}
/* user view css*/
.users dt {
	font-weight: normal;
	float: left;
	width: 150px;
}


/* user add css*/
#UserAddForm fieldset{
width: 100px;
float: left;
margin-right: 70px;
margin-top: 71px;
}

#UserAddForm .first {
margin-top: 10px;
}

#UserAddForm .bar {
  width: 200px;
}

.lol-slider .ui-slider-range {
background-color: #caaa27;
background: #caaa27;
}

.csgo-slider .ui-slider-range {
background-color: #9fa2a7;
background: #9fa2a7;
}

.hots-slider .ui-slider-range {
background-color: #8228cc;
background: #8228cc;
}

#UserAddForm .pricemoneysliders{
	width: 510px;
	float: left;
	margin-top: 0px;
  margin-bottom: 8px;
}

.pricemoneysliders .priceinfo {
	width: 330px;
	height: 25px;
	padding: 15px;
	margin-top: 0px;
	margin-bottom: 5px;
	padding-top: 0px;
	padding-left: 0px;
}

.pricemoneysliders .priceinfo span {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
}

.pricemoneysliders label, .pricemoneysliders input {
	float: left;
	width: 40px;
  height: 10px;
	margin-right: 5px;
}
.pricemoneysliders label {
  margin-right: 15px;
}
.pricemoneysliders .control-group {
  float: left;
  margin-right: 20px;
}
.priceerror {
	float: left;
	height: 50px;
	width: 400px;
}
.priceerror p {
	color: #cc2323;
	font-size: 14px;
	line-height: 16px;
}

#submitbutton {
  float: left;
  clear: both;
}

#price {
	position: relative;
	left: 65%;
	top: 100px;
	padding: 15px;
	height: 20px;
	width: 150px;
	background-color: #cecece;
	margin-bottom: -40px;
	box-shadow: 0px 0px 6px 5px #efefef inset;
}

#price span{
  float: left;
}

#sitzplanfiller {
	height: 1200px;
}
.tournamentlist li{
  list-style: none;
	float: left;
  height: 200px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.tournamentlist li:nth-child(4){
	clear: both;
}

.tournamentlist .tournamentlogo {
  width: 180px;
  max-height: 180px;
}
.angemeldetlist ul, .angemeldetlist h3 {
  width: 540px;
  float: left;
}
.angemeldetlist ul li {
  width: 180px;
  float: left;
  word-wrap: break-word;
}

#webchat {
	overflow: hidden;
    position: static;
    right:2px;
    bottom:2px;
    height:270px;
    font-size:12px;
}
#webchat a {
	    position:relative;
    right:0;
    bottom:0;
    padding:0 0 0 200px;
}