
body>.container {
margin-top: 20px;	
}

div.hero-unit.awesome.flat {
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
	
}
}


article footer a {
  color: teal;

}
.tournamentlogo {
  height: 200px;
}


.ui-autocomplete{
list-style: none !important;
}

#flashMessage {
  width: 400px;
  text-align: center;
  vertical-align: center;
  margin-left: 300px;
  font-size: 15px;
  font-weight: bold;
  background-color: #8787BB;
  border-radius: 2px;
}

footer {
  margin-bottom: 14px;
}

.actions {
  list-style: none;
}

.fpadd{
  height: 20px;
  width: 500px;
  margin: auto;
  text-align: center;
  vertical-align: text-bottom;
  font-size: 10px;
  margin-bottom: 7px;
}

.fpadd img {
  margin-left: 3px;
  margin-right: 3px;
}


.hero-unit.awesome.flat.headerawesome{
padding: 0px;
margin-bottom: 0px;
height: 240px;
width: 100%;
z-index: 5;
overflow: hidden;
background-color: #113585;
box-shadow: 2px 0px 49px inset;
}

.hero-unit h1,p{
  z-index: 5;
  color: #CFCFCF;
}
p{
  color: #173675;
}

.bannerdiv {
  float: left;
  width: 100%;
  z-index: 1;

}
.bannerimg {
  float: left;
  display: block;
    margin:0 auto !important;
width: 20% !important;
margin-left: 41% !important;
margin-right: 39% !important;
z-index: 2;
min-height: 160px;
min-width: 180px;


}


.glass-pill input {
  width: 80%;
}

.angemeldetlist{
  list-style: none;
}

.teilnehmerlink {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 5px;
  color: white;
}
.teilnehmerlink a {
  color: white;
}
.newsinput {
  width: 80%;
  height: 300px;
  background-color: white;
}

.nicEdit-main {
  background-color: white;
}

.testdiv {
	background: #bbb;
}

.news {
  background-color: rgba(82, 157, 255, 0.3);
  border-radius: 1px;
  padding-top: 1px;
  padding-left: 3px;
  margin-bottom: 22px;
  padding-bottom: 5px;
}

.news ul {
float: left;
clear: both;
}

.news p {

}

.fullnews {
    float: left;
    padding-bottom: 10px;
    width: 100%;
}

.news h1 {
  font-weight: bolder;
  color: #228;
  padding-left: 5px;
  margin: 0px auto;
}
.fullnews h1{
    float: left;
    clear: both;
}
.fullnews p {
  clear: both;
    float: left;
    margin-top: 12px;
    margin-left: 8px;

}

.news p{
  color: #4545A5;
  margin-left: 6px;
  padding-left: 6px;
  padding-top: 5px;
}

article footer {
  margin-left: 6px;
}
.fullnews .author {
  clear: both; 
  margin-top: -5px;
}

.sidesponsors {
  margin-top: 40px;
}

.sidesponsors img {
width: 170px;
text-align: center;
margin-bottom: 20px;
}

.sidesponsors h4 {
text-align: center;
}

.sidesponsors h5 {
text-align: center;
margin-right: 20px;
}


.author {
    float: left;
  width: 650px;
  margin-left: 8px;
}

.comment {
  background-color: #C4C4FF;
  float: left;
  width: 600px;
  margin-left: 50px;
  padding-bottom: 5px;
  padding-left: 10px;
  margin-bottom: 12px;
}
.comment h5 {
  font-size: 11pt;
  margin-bottom: 0px;
  border-bottom: 1px dashed #33F;
  width: 120px;
}
.progress{
  width: 420px;
  margin: 0 auto;
  background-color: #2589DD;
  margin-bottom: 10px;
}
.bar-angemeldet {
  background-color: #149BDF !important;
  background-image: none !important;
}
.bar-bezahlt {
  background-color: #0C7CCC !important;
  background-image: none !important;
}
.bar-frei {
  background-color: #5CBBFF !important;
  background-image: none !important;
}


.commentaddlink {
  float: left;
clear: both;
vertical-align: middle;
text-align: center;
margin-left: 50px;
margin-top: 5px;
}

.newscontent {
  float: left;
margin-top: 20px;
}

.faaaak {
  float: none !important;
}

.sidelogin{
  margin-left: 20px;
  font-size: 16px;
}
.sidelogin a{
  font-weight: bold;
}

.pinnedcontent {
 height: auto;   
}

.pinnedcontent div {
}

.middlebutton {
    margin-left:40%;
    width:20%;    
}
.commentfield {
    width: 400px;
}
.turnierliste {
  list-style: none;
}


.hero-unit h1 {
	
text-shadow: 1px 1px 0px #5555AA;
}

.hero-unit p{
	color:#CFCFCF;
	text-shadow: 1px 1px 0px #000033;
}

body {
    background-color: #edeeef;
    background-image: url('../img/pw_maze_white.png');
}

.shadowblock{
	width: 800px;
	height: 3px;
	margin: 0px;
	padding: 0px;
}
.navbar {
position: relative;
}

.nav{
   margin: auto;
}

.navbar .nav,
.navbar .nav > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  *zoom:1; /* hasLayout ie7 trigger */
  vertical-align: top;
}

.navbar-inner {
  text-align:center;
}

.navbar-fixed-top {
    position:fixed;
}

.navbar-fixed-top-active {
padding-top: 45px
}
